.container {
    background-color: rgb(56, 55, 55);
    padding: 2rem;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(116, 113, 113);
}